build
*.exe

# testing file
src/test.c

# test image files
src/images_diffuse.c
src/images_diffuse.h

# "logo" files
*.xcf
*.png

# some stuff that is used for development right now
makefile_
src/rdtest.c